<article class="chat hidden">
    {{!-- simple chat layout with form to send messages --}}

    <section class="chat__messages">
        <!-- messages will be appended here -->

    </section>


    <form class="chat__form">
        <input type="text" class="chat__input" placeholder="Type your message here..." required>
        <button type="submit" class="chat__submit" aria-label="Send message">
            <img src="/images/send.svg" alt="">
        </button>
    </form>


</article>