<section class="playerControls">
    <div class="playerControls--up"></div>
    <div class="playerControls--right"></div>
    <div class="playerControls--down"></div>
    <div class="playerControls--left"></div>
</section>