<dialog class="skinDialog">

    <form id="skinForm" method="dialog">
        <p>Select skin</p>
        {{!-- radio buttons for 3 skins --}}
        <div>
            <label for="skin0">Skin 1</label>
            <input type="radio" name="skin" id="skin0" value="skin0" checked>
        </div>
        <div>
            <label for="skin1">Skin 2</label>
            <input type="radio" name="skin" id="skin1" value="skin1">
        </div>
        <div>
            <label for="skin2">Skin 3</label>
            <input type="radio" name="skin" id="skin2" value="skin2">
        </div>

        <button type="submit">Confirm</button>
    </form>

</dialog>