<dialog class="userListContainer">
    <section>
        <button class="closeUserList">
            <img src="/images/xmark.svg" alt="Close user list">
        </button>
        <div>
            <p>Online Users</p>
            <ul class="userList">

            </ul>
        </div>
    </section>
</dialog>