<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NS Lobby</title>
    {{!-- link script --}}
    {{!-- <script defer src="/socket.io/socket.io.js" type="module"></script> --}}
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="https://unpkg.com/@rive-app/canvas@1.1.2"></script>
    <script defer src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script defer src="/js/script.js" type="module"></script>
</head>
<body>
    {{{body}}}
</body>
</html>