<form id="usernameForm" action="/chat">

    <label for="usernameInput">Username</label>
    <input type="text" name="usernameInput" id="usernameInput" placeholder="Enter your username" required>

    <button type="submit">Join</button>
</form>