<main class="lobby">

    {{>register}}

    {{>userList}}

    <article class="scene">
        <img src="/images/bg.jpg" alt="">
        <article class="perspective">

            <section class="container">
                {{!-- <div class="player" data-playerId=""></div> --}}
            </section>

        </article>
    </article>


</main>