<main class="lobby">

    {{>register}}



    <article class="scene">
        <img src="/images/bg.jpg" alt="">
        <div class="infoContainer">
            <img class="info-board" src="/images/bg-info.png" alt="">
            <p>this is some info</p>
        </div>
        {{>userList}}
        <article class="perspective">

            <section class="container">
                {{!-- <div class="player" data-playerId=""></div> --}}
            </section>

        </article>
    </article>


</main>