<main class="lobby">

    {{>register}}

    {{>userList}}

    <canvas></canvas>

    <section class="container">
        {{!-- <div class="player" data-playerId=""></div> --}}
    </section>
</main>