<main class="lobby">

    {{>register}}

    {{>userList}}

    <article class="perspective">

        <section class="container">
            {{!-- <div class="player" data-playerId=""></div> --}}
        </section>

    </article>

</main>