<main class="lobby">

    {{>register}}

    <header>
        <button type="button" class="chatToggle" aria-label="Toggle chat">
            <img src="/images/chat.svg" alt="">
        </button>
    </header>


    {{>chat}}


    <section class="offline">
        <h3>You are offline</h3>
        <p>Please check your internet connections and try again.</p>
    </section>

    <article class="scene">
        <img src="/images/bg.jpg" alt="">
        <div class="infoContainer">
            <img class="info-board" src="/images/bg-info.png" alt="">
            <div class="infoContainer--info">
                
            </div>
        </div>
        {{>userList}}
        <article class="perspective">

            <section class="container">
                {{!-- <div class="player" data-playerId=""></div> --}}
            </section>

        </article>
    </article>


</main>