<main class="lobby">

    {{>register}}

    {{>skins}}

    {{>userList}}

    {{>serverFull}}

    <header>
        <div>
            <button type="button" class="userListToggle" aria-label="Toggle user list">
                <img src="/images/users.svg" alt="">
                <span></span>
            </button>
            <button type="button" class="chatToggle" aria-label="Toggle chat">
                <img src="/images/chat.svg" alt="">
            </button>
        </div>
    </header>


    {{>chat}}


    <section class="offline">
        <h3>You are offline</h3>
        <p>Please check your internet connections and try again.</p>
    </section>

    <article class="scene">
        <img src="/images/bg.jpg" alt="">
        <div class="infoContainer">
            <img class="info-board" src="/images/bg-info.png" alt="Information board">
            <div class="infoContainer--info">
            </div>
        </div>
        <article class="perspective">

            <div class="skins">
                <button class="changeSkin">
                    <img src="/images/bg-checkin.png" alt="NS check in pole">
                </button>
            </div>

            <div class="hint">
                <img src="/images/pointer.svg" alt="Arrow pointing to skin changer">
                <p>Click me to change skin!</p>
            </div>

            <section class="container">
                {{!-- <div class="player" data-playerId=""></div> --}}
            </section>

        </article>
    </article>


</main>