/* basic css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


:root {
	--background: hsl(220, 27%, 9%);
	--backgroundGradient: linear-gradient(0deg, rgba(16,20,28,1) 0%, rgba(16,20,28,1) 14%, rgba(52,57,69,1) 14%, rgba(52,57,69,1) 26%, rgba(113,120,132,1) 26%, rgba(113,120,132,1) 30%, rgba(84,90,101,1) 30%, rgba(84,90,101,1) 51%, rgba(52,57,69,1) 51%, rgba(52,57,69,1) 67%, rgba(86,94,109,1) 67%, rgba(86,94,109,1) 71%, rgba(70,76,88,1) 71%, rgba(70,76,88,1) 79%, rgba(60,62,69,1) 79%, rgba(60,62,69,1) 88%, rgba(68,79,88,1) 88%);
	--primary: hsl(0, 0%, 100%);
	--NS-yellow: #FFC917;
	--NS-blue: #003082;
	--NS-light-blue: #0063D3;
	--box-shadow: 0 0.125rem 0 0 rgba(7,7,33,.15);
}

body {
	background: var(--background);
	font-family: Segoe UI,Myriad,Verdana,sans-serif;
}

main {
	display: grid;
	place-items: center;
	height: 100dvh;
	width: 100dvw;
	overflow: hidden;
}

main.lobby {
	background: var(--background);
	color: var(--primary);
	width: clamp(10rem, 100%, 40rem);
	margin: auto;
}

.scene {
	width: 100%;
	aspect-ratio: 1/1;
	position: relative;
	display: grid;
	place-items: center;

	container-type: inline-size;
}

.scene img {
	position: absolute;
	width: 100cqw;
}

.scene .infoContainer {
	position: absolute;
	top: 6%;
	width: 38cqw;
    height: 17cqw;
    left: 57%;
}

.infoContainer--info{
	top: 28%;
    position: absolute;
    left: 35%;
    color: 
	#003082;
	font-weight: bold;
	max-width: 48%;
	font-size: 3cqw;
}

.infoContainer--info > div {
	display: flex;
	gap: 1cqw;
	align-items: baseline;
	font-size: 2cqw;
}

.infoContainer--info > div > p:last-of-type {
	font-size: 1.5cqw;
}

/* .infoContainer--info p:first-of-type {
	font-size: 2cqw;
}

.infoContainer--info p:last-of-type {
	font-size: 1.5cqw;
} */

.scene .info-board {
	width: 100%;
}

.scene .userListContainer {
	position: absolute;
	top: 6%;
	left: 6%;
}

.scene .userListContainer p {
	font-size: 3cqw;
	font-weight: bold;
}

.scene .userListContainer .userList {
	list-style: disc;
    padding-left: 3cqw;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    font-size: 2cqw;
    margin-top: 2cqw;
}

.perspective {
	transform-style: preserve-3d;
	perspective: 11cqw;

	width: 100cqw;
	aspect-ratio: 1/1;
	display: grid;
	place-items: center;
}

.container {
	width: 56cqw;
    height: 21cqw;
    position: relative;
    rotate: x 11deg;
    transform-style: preserve-3d;
    transform: translateY(7cqw);
}

.player {
    width: 13%;
    height: 65%;
	/* background: red; */

	position: absolute;

	left: 100%;
	top: 100%;

	transform: translate(-50%, -90%);
	transform-origin: top;
	transition: .5s ease-in;
	rotate: x -11deg;
}

.player > p {
    position: absolute;
	font-size: 70%;
    top: -1.5rem;
    transform: translate(-50%, 0);
    left: 50%;
}

.player .playerCanvas {
	width: 100%;
	height: 100%;
}


dialog {
	width: clamp(5rem, 100%, 20rem);
	height: clamp(5rem, 100%, 20rem);
	padding: 2rem 1rem;
	z-index: 100;
	/* display: grid;
	place-items: center; */
	box-shadow: var(--box-shadow);
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, .5);
}

dialog > form {
	display: flex;
	flex-direction: column;
	color: var(--NS-blue);
}

dialog > form > p {
	font-size: 1.7rem;
	font-weight: 400;
}

dialog > form > label {
	font-size: 1rem;
	margin: 1rem 0 .5rem 0;
}

dialog > form > button {
	border-radius: .25rem;
	background: var(--NS-light-blue);
	color: var(--primary);
	padding: .5rem;
	border: none;
	box-shadow: inset 0 -0.125rem 0 #004ba0;
	margin: 1rem 0;
}
dialog > form > input {
	border-radius: .25rem;
	padding: .5rem;
	border: 1px solid var(--NS-light-blue);
}